html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn:focus{
  outline: none;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.lead-image {
    width: 80px;  /* Lebar elemen pembungkus */
    height: 70px;  /* Tinggi elemen pembungkus */
    overflow: hidden;  /* Potong bagian gambar yang keluar dari batas */
}

.lead-image img {
    width: 100%;  /* Lebar gambar */
    height: 100%;  /* Tinggi gambar */
    object-fit: cover;  /* Menjaga aspek rasio gambar */
}
